
@import url(https://fonts.googleapis.com/css?family=Mystery+Quest);

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}
.img-container {
text-align: center;
}
nav {
  	background-color: #E8C66A;
	border: 1px black solid;
    padding: 20px;
}


.wrapper {
	background-color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
}

#about {
	background-color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
}

#one{
	background-color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
}

.picture{
	background-color: #FFC675;
	border: 1px black solid;
    padding: 20px;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
}
#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.description{
	background-color: #E89C6C;
	border: 1px black solid;
    padding: 20px;

}
body {

    background-color: blue;
}

h1 {
	text-align: center;
    font-family: 'Mystery Quest', cursive; 
  
}

h1, p {
    color: black;
    text-align: center;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
    padding: 20px;
}

