
@import url(https://fonts.googleapis.com/css?family=Mystery+Quest);

body {
    background-color: black;
}

h1, p {
    color: pink;
}
h1 {
	text-align: center;
    font-family: 'Mystery Quest', cursive; 
  
}
